/* YeyeYeee código aquí */

*{
	margin: 0;
	padding: 0;
}

body {

    background-color: #3D3F41;
}


/*nav*/


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a.nav-expander {
  background: none repeat scroll 0 0 #;
  color: #FFFFFF;
  display: block;
  font-size: 15px;
  font-weight: 400;
  height: 50px;
  margin-left: 0;
  padding: 1em 1.6em 2em;
  position: absolute;
  left: 0;
  text-decoration: none;
  text-transform: uppercase;
  top: 0;
  transition: left 0.3s ease-in-out 0s;
  width: 130px;
  z-index: 12;

  transition: left 0.3s ease-in-out 0s;
  -webkit-transition: left 0.3s ease-in-out 0s;
  -moz-transition: left 0.3s ease-in-out 0s;
  -o-transition: left 0.3s ease-in-out 0s;

}

a.nav-expander:hover {
  cursor: pointer;
}

a.nav-expander.fixed {
  position: fixed;
}

.nav-expanded a.nav-expander.fixed {
    left: 20em;
}

nav {
  background: #2d2f33;
  display: block;
  height: 100%;
  overflow: auto;
  position: fixed;
  left: -20em;
  font-size: 15px;
  top: 0;
  width: 20em;
  z-index: 2000;
  
  transition: left 0.3s ease-in-out 0s;
  -webkit-transition: left 0.3s ease-in-out 0s;
  -moz-transition: left 0.3s ease-in-out 0s;
  -o-transition: left 0.3s ease-in-out 0s;

}
.nav-expanded nav {
  left: 0;
}

body.nav-expanded {
  margin-left: 0em;
  transition: left 0.4s ease-in-out 0s;
  -webkit-transition: left 0.4s ease-in-out 0s;
  -moz-transition: left 0.4s ease-in-out 0s;
  -o-transition: left 0.4s ease-in-out 0s;
}

#nav-close {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 24px;
  padding-left: 10px;
}

.main-menu {
  padding-top: 12px;
}

.main-menu li {
  border-bottom: 1px solid #323949;
  margin-left: 20px;
  font-size: 18px;
  padding: 12px;
}

.main-menu li a {
  color: #6F7D8C;
  text-decoration: none;
}

.main-menu li a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.main-menu li .sub-nav {
  border-bottom: 0px;
  padding: 4px;
}

.main-menu a .caret {
	width: 0;
	height: 0;
	display: inline-block;
	vertical-align: top;
	border-top: 4px solid #4f5963;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
    margin-top: 8px;
}

.main-menu a:hover .caret {
	border-top-color: #4f5963;
}

.main-menu li.open > a > .caret {
	border-top: none;
	border-bottom: 4px solid #4f5963;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.main-menu li.open > a:hover > .caret {
	border-bottom-color: #4f5963;
}

.icon:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  content: '\f105';
}

.main-menu li > a > span.icon {
  float: left;
  margin: 0.1em 0 -0.1em 1.7em;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

}

.main-menu li > a:hover > span.icon {
  float: left;
  margin: 0.1em 0 -0.1em 0.8em;
  opacity: 1;
}

/*fin nav*


/*pantalla inicio*/
.titulo{
	font-family: 'Anton', sans-serif;
	color: #F6A800;
}

.rueda{
	width: 40%;
	margin-top: 100px;
}

#inputCorreo{
  border: 0px;
  width: 100%;
  display: block;
  position: relative;
  height: 50px;
}

#inputPass{
  border: 0px;
  width: 100%;
  display: block;
  position: relative;
  height: 50px;
}

.btn-default{
  border: 0px;
  color: #3D3F41;
  background-color: #F6A800;
  font-size: 14px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  height: 36px;
  width: 100%;
}

.text-center.acount a{
	color: white;

}

.text-center.acount.yellow a{
	color: #F6A800;
}


/*pantalla opciones*/


.btn-group{
	margin-top: 150px;
}

.btn-default{
	margin-top: 20px;
}

.navbar-header{
	background-color: #3D3F41;
}


/*pantalla opcion-perfil*/

.container.avatar {
  position: relative;
  background-color: #F6A800;
  width: 100%;
  height: 200px;
}

#profile{
	margin-top: 30px;
	margin-left: 120px;
	width: 40%;
}

#inputCorreo2{
	margin-top: 20px;
	border:none;
	height: 50px;
	width: 100%;
}

.md-form{
	margin-top: 20px;
	border: none;
	text-decoration: none;
}

.container.tarjeta{
	background-color: #E0E0E1;
	width: 100%;
	height: 390px;
}

.btn-default.agregar{
	height: 50px;
	color: white;
}

/*pantalla preguntas*/

.container.avatar h1{
	color:white;
	font-family: 'Arial', sans-serif;
}

#accordion{
	margin-top: 20px;
}


/*pantalla ver saldo*/

.caret{
	margin-top: 10px;
}

/* opcion calcular*/

.container.calcular button{
   width: 100%;
}

.container.calcular{
	background-color: #E0E0E1;
	width: 100%;
	height: 390px;
}