/* YeyeYeee código aquí */

*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #3D3F41;
}

/*pantalla inicio*/
.titulo{
	font-family: 'Anton', sans-serif;
	color: #F6A800;
}

.rueda{
	width: 40%;
	margin-top: 100px;
}

#inputCorreo{
  border: 0px;
  width: 100%;
  display: block;
  position: relative;
  height: 50px;
}

#inputPass{
  border: 0px;
  width: 100%;
  display: block;
  position: relative;
  height: 50px;
}

.btn-default{
  border: 0px;
  color: #3D3F41;
  background-color: #F6A800;
  font-size: 14px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  height: 36px;
  width: 100%;
}

.text-center.acount a{
	color: white;

}

.text-center.acount.yellow a{
	color: #F6A800;
}


/*pantalla opciones*/


.btn-group{
	margin-top: 150px;
}

.btn-default{
	margin-top: 20px;
}

.navbar-header{
	background-color: #3D3F41;
}


/*pantalla opcion-perfil*/

.container.avatar {
  position: relative;
  background-color: #F6A800;
  width: 100%;
  height: 200px;
}

#inputCorreo2{
	margin-top: 20px;
	border:none;
	height: 50px;
}

.md-form{
	margin-top: 20px;
	border: none;
	text-decoration: none;
}

.container.tarjeta{
	background-color: #E0E0E1;
	width: 100%;
	height: 390px;
}

.btn-default.agregar{
	height: 50px;
	color: white;
}